body {
    /* background-color: rgb(255, 253, 253); */
    background-color: rgb(53, 52, 52);
    /* margin: 3; */
}

li,
a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16rem;
    color: white;
    text-decoration: none;
}

header{
    z-index: 1;
    background-color: rgb(0, 0, 0);
    /* overflow: hidden; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 100%;
    padding: 8rem;
    height: 100rem;
    /* padding: 8rem 10%; */
    position: fixed;
    top: 0;
    transition: top 0.3s; 
    /* position: sticky; */
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 30rem 20rem;
}

.nav_links li a {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    /* transition: all 150ms ease; */
    /* transform: scale3d(1.1); */
}

.nav_links li a:hover {
    display: block;
    border-radius: 5rem;
    /* background-color: orange; */
}


/* .nav_links li a:hover{
    color: yellow;
} */
#img1 {
    width: 100%;
    height: 700rem;
    /* opacity: 0.9; */
    filter: blur(3rem);
    margin-top: 26rem;
}

#para1 {
    font-style: italic;
    font-size: 25rem;
    color: rgb(221, 153, 195);
    /* text-indent: 10%; */
}

#para2 {
    font-size: 40rem;
    padding-right: 75%;

}

#img2 {
    height: 25%;
    width: 35%;
}

.container1 {
    color: rgb(46, 3, 3);
    margin-top: 90rem;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-30%, -40%);
    font-size: 120rem;
    color: rgb(250, 243, 243);
    text-shadow: 7rem 7rem pink;

}

.container {
    display: flex;
    text-align: center;
    /* align-items: flex-start; */
    justify-content: center;
}

/* img {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */


/* .image {
    width: 150%;
    height: 150%;
} */

.container .text {
    /* float: right; */
    font-size: 20rem;
    color: white;
    /* padding-left: 60rem; */
    /* padding-left: 370rem; */
    padding-left: 4.5%;
    padding-right: 4.5%;
    text-align: end;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Gruppo', cursive;
}

.container .text::after {
    content: '';
    width: 10rem;
    height: 50%;
    background: linear-gradient(red, white);
    position: absolute;
    left: -40rem;
    top: 8rem;
}

.container .image img {
    width: 400rem;
    height: 400rem;
}

.container .text .where {
    /* position: relative; */

    font-size: 25rem;
    display: inline-block;
    /* flex:content; */
    color: rgb(252, 233, 233);
    background-color: rgb(240, 71, 71);
    text-decoration: none;
    border: solid 2rem rgb(46, 3, 3);
    border-radius: 20rem;
    padding: 10rem 40rem;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    font-family: 'Abril Fatface', cursive;
}

.container .text .category {
    border: solid 2rem rgb(46, 3, 3);
    border-radius: 5rem;
    padding: 5rem 5rem;
    background-color: rgb(172, 169, 169);
    color: rgb(5, 5, 5);
    font-family: 'Abril Fatface', cursive;
    font-family: 'Bebas Neue', cursive;
}

.container .text .where:hover {
    background-color: rgb(131, 1, 1);
    color: rgb(233, 238, 243);
}
.nextpage{
    text-align: center;
}
.nextpage a {
    text-decoration: none;
    display: inline-block;
    padding: 8rem 16rem;
  }
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: red;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }
  a:hover {
    background-color: #ddd;
    color: black;
  }

#myBtn {
    display: none;
    position: fixed;
    bottom: 20rem;
    right: 30rem;
    z-index: 99;
    font-size: 18rem;
    border: none;
    outline: none;
    background-color: rgb(110, 90, 90);
    color: white;
    cursor: pointer;
    padding: 15rem;
    border-radius: 4rem;
}

#myBtn:hover {
    background-color: #555;
}

.dropdown {
    float: right;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-weight: 500;
    font-size: 16rem;
    border: none;
    outline: none;
    color: white;
    padding: 30rem 20rem;
    background-color: inherit;
    font-family: sans-serif;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.dropdown .dropbtn:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    /* background-color: white; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 1rem; */
    /* box-shadow: 10rem 80rem 80rem 20rem rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12rem 16rem;
    text-decoration: none;
    display: flexbox;
    text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: red;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: flex;
}
.image img{
    border-radius: 50%;
}
.image a:hover{
    background-color:rgb(53, 52, 52);
}
@media(max-width:768rem)
{
    html{
        font-size: 45%;
    }
}